@import 'reset.scss';
@import './scss/variables';
@import './scss/mixins';
@import './scss/header';
@import './scss/intro';
@import './scss/about';
@import './scss/main_tasks';
@import './scss/our__projects';
@import './scss/feedback';
@import './scss/footer';

// $breakpoints: (
//   "sm": 640px,
//   "md": 768px,
//   "lg": 1024px,
//   "xl": 1170px,
// );

html {
    font-size: 10px;
    @include min-width('sm') {
        font-size: 12px;
    }
    @include min-width('md') {
        font-size: 13px;
    }
    @include min-width('lg') {
        font-size: 15px;
    }
    @include min-width('xl') {
        font-size: 16px;
    }
}

body {
    background-color: white;
}

