<!-- main__tasks -->
<section class="main__tasks">
  <h2 class="main__tasks-title">Основные задачи</h2>

  <div class="main_tasks-numbers">
    <!-- main__tasks-left -->
    <div class="main__tasks-left">
      <div class="main__tasks-left-number">
        <img src="./components/main_tasks/1.svg" alt="one">
      </div>
      <span class="main__tasks-left-text"
        >Создание комфортных условий и повышение качества обслуживания
        клиентов</span>
    </div>
  
    <!-- main__tasks-right -->
  
    <div class="main__tasks-right">
      <div class="main__tasks-right-number">
        <img src="./components/main_tasks/2.svg" alt="one">
      </div>
      <span class="main__tasks-right-text"
        >Постоянно совершенствовать качество предоставляемых услуг путем
        обучения персонала, закупки нового оборудования и усиленной рекламы на
        рынке</span>
    </div>
  </div>

</section>